.map-background {
    -fx-background-size: stretch, auto;
    -fx-background-position: right bottom;
    -fx-background-repeat: stretch stretch;
}


.map-square-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 25px;
}

.town-map-background {
    -fx-background-image: url("townMap.jpg");
    -fx-background-position: right bottom;
    -fx-background-repeat: stretch stretch;
}

.pub-button {
    -fx-background-color: transparent;

}

.buy-mule-button {
    -fx-background-color: transparent;

}

.store-button {
    -fx-background-color: transparent;
}